---
import Layout from "../../layout/Layout.astro";
import Reviews from "../../components/Reviews.svelte";
const title = "Reviews";
---

<Layout title={title}>
    <body>
        <Reviews client:load/>
    </body>
</Layout>