---
import Layout from "../../layout/Layout.astro";
import ReviewFormComponent from "../../components/ReviewFormComponent.svelte";
const title = "Review Form";
---

<Layout title={title}>
    <body>
        <ReviewFormComponent client:load />
    </body>
</Layout>