---
import Layout from "../../layout/Layout.astro";
import ReviewForm from "../../components/ReviewForm.svelte";
const title = "Review Form";
---

<Layout title={title}>
    <body>
        <ReviewForm />
    </body>
</Layout>