---
import ClassCardAstroComponent from "../components/ClassCard.svelte";
import FilterComponentAstroComponent from "../components/FilterComponent.svelte";
import HomeAstroComponent from "../components/Home.svelte";
import Layout from "../layout/Layout.astro";
const title = "Welcome to Rate My Class";
---

<Layout title={title} >
	<body>
		<HomeAstroComponent client:load/>
	</body>
</Layout>
